<main>
  <p id="notice"></p>
  <%= render 'list', books: @books %>
  <h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td>

        </td>
        <td>
          <%= @book.title %>
        </td>
        <td>
          <%= @book.body %>
        </td>
      </tr>
    </tbody>
  </table>
</main>
